@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Raleway:ital,wght@0,400;0,600;1,400;1,500&family=Russo+One&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
  
font-family: 'Raleway', sans-serif;

    }
}